/* BORDER SWITCH FOR DESIGN */

/* * {
  border: 1px solid red;
} */

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Edu SA Beginner", cursive;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

p {
  text-align: center;
}

button {
  font-weight: 700;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 10px 1px;
}

/* HEADER */

header {
  height: 150px;
}

/* GRID STYLES */

.gridarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridbox {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px;
  background-color: white;
}

.gridrow {
  display: flex;
  justify-content: center;
}

.square {
  padding: 0;
  margin: 0;
}

/* MENU AREA */

.menuarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* FOOTER */

footer {
  margin-top: auto;
}
