/* BORDER SWITCH FOR DESIGN */

/* * {
  border: 1px solid red;
} */

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Edu SA Beginner", cursive;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

p {
  text-align: center;
}

button {
  font-weight: 700;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 10px 1px;
}

/* HEADER */

header {
  height: 150px;
}

/* GRID STYLES */

.grid-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-box {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px;
  background-color: white;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.square {
  padding: 0;
  margin: 0;
}

/* MENU AREA */

.menu-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.color-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-button {
  height: 30px;
  width: 30px;
  margin: 10px;
  padding: 0;
  border: 1px solid black;
}

#red {
  background-color: rgb(255, 0, 0);
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

/* FOOTER */

footer {
  margin-top: auto;
}
